@model celsia.Models.Cliente

<h2>Detalles del Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Nombre Completo
        </dt>
        <dd class="col-sm-10">
            @Model.NombreCompleto
        </dd>
        <dt class="col-sm-2">
            Identificación
        </dt>
        <dd class="col-sm-10">
            @Model.Identificacion
        </dd>
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Model.Correo
        </dd>
        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            @Model.Telefono
        </dd>
        <dt class="col-sm-2">
            Dirección
        </dt>
        <dd class="col-sm-10">
            @Model.Direccion
        </dd>
    </dl>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>
