@model IEnumerable<celsia.Models.Cliente>

<h2>Lista de Clientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Identificación</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.NombreCompleto</td>
                <td>@cliente.Identificacion</td>
                <td>@cliente.Correo</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Direccion</td>
                <td>
                    <a asp-action="GetClienteByIds" asp-route-id="@cliente.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="ActualizarCliente" asp-route-id="@cliente.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="EliminarCliente" asp-route-id="@cliente.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
